body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b8c5d8;
}

#soundButton {
  width: 90vw;
  height: 90vh;
  border: none;
  background-image: url("rik.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
}

#soundButton:active {
  background-image: url("dance-moves.gif");
}


#soundButton {
  -webkit-tap-highlight-color: transparent;
}


#soundButton:focus {
  outline: hidden;
}

#soundButton {
  user-select: hidden;         
  -webkit-user-select: hidden;
  -ms-user-select: hidden;
}


